{% extends "base.j2" %}

{% block title %} Index {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <span> HOLA </span>
        </div>
    </div>
{% endblock %}