{% extends "base_template.html" %}
{% block title %}New Post{% endblock %}
{% block content %}
    <form action="/post/new/send/" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.subtitle.label }}
            {{ form.subtitle }}<br>
            {% for error in form.subtitle.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.content.label }}
            {{ form.content }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
            {% for error in form.submit.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </form>
{% endblock %}